<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="db" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\c#\EmployeManagementSystem\empdatabase.accdb"
   providerName="System.Data.OleDb" />
  <add name="EmployeManagementSystem.Properties.Settings.empdatabaseConnectionString"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\empdatabase.accdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
</configuration>